defaults:
    #
    # This value can be a simple HTTP Code or an array of acceptable HTTP Codes
    # - 200
    # - [200, 301]
    #
    http_codes: [200, 302]
    options:
        verb: GET

urls:
    #
    # By default, is there is no specified HTTP Code, then default one is used
    # as the valid one
    #
    - http://google.es
    - http://google.com
    
    #
    # There are some other formats available as well
    #
    - [http://example.com/ok, 200]
    - [http://example.com/404, [404], {verb: POST}]
    - [http://example.com/403-ajax-only, [403]]
    - [http://example.com/403-ajax-only, [200], {ajax: true}]