defaults:
    #
    # This value can be a simple HTTP Code or an array of acceptable HTTP Codes
    # - 200
    # - [200, 301]
    #
    http_codes: [200, 302]
    options:
        verb: GET

urls:
    #
    # By default, is there is no specified HTTP Code, then default one is used
    # as the valid one
    #
    - [http://google.es, 301]
    - http://elcodi.io

    #
    # There are some other formats available as well
    #
    - [http://www.google.com, 302]
    - [http://shopery.com, [200, 301], {verb: POST}]